-if (user.check_amount == 0) {
center
    div(class="white_back rounded")
        br
        div(style="font-size:20px; margin: 20px 0 10px 0", class="yellow") Waiting for next paycheck...
        img(src="/images/scenery1_200x68.png")
        div
            a(href="/home", data-ajax="false", data-role="button", data-theme="a", data-icon="arrow-l", data-inline="true") Home
        br
-} else {
center
    div(style="font-size:20px; margin: 20px 0 10px 0") Your paycheck has arrived!
div(style="position:relative")
    center
        img(src="/images/check_200x120.png", style="opacity: 0.4")
        div(style="position:absolute; top: 23px; margin-left: 3px; width: 100%;")
            span(style="color: #000; font-size: 60px;", class="white_stroke")$#{user.check_amount}
        div(style="position:absolute; top: 20px; width: 100%;")
            span(style="color: #fff; font-size: 60px;", class="white_stroke")$#{user.check_amount}
form(action="/bank/cash_check", method="post", data-ajax="false")
   input(type="submit", value="Cash Check", data-theme="e")
- }
