h1 Bank
div(data-role = "page", id = "foo")
   div(data-role = "header")
      h1 Bank
   div(data-role = "content")
      div #{user.bank_amount}
   
   div(data-role = "footer")
      a(href="/home",data-role="button",data-icon="home") Home
      a(href="foo.html",data-role="button",data-icon="arrow-down") Down
