ul(data-role="listview")
   - venues.forEach(function(venue){
   li(data-iconsize="44")
      a(href="/venue?id=#{venue.venue.id}")
         img(src="#{venue.venue.categories[0].icon}", class="ui-li-icon", style="height:16px;width:16px;") 
         span(class="green")
            $#{venue.value}&nbsp;
         span
            #{venue.venue.name}
   - })

