h1 Home
div(data-role = "page", id = "foo")
   div(data-role = "header")
      h1 #{user.full_name}
   div(data-role = "content")
      <a href="/bank" data-role="button">Bank</a>
      <a href="/buy" data-role="button">Buy</a>
   
   div(data-role = "footer")
      a(href="index.html",data-role="button",data-icon="home") Home
      a(href="foo.html",data-role="button",data-icon="arrow-down") Down
