a(href="/bank",data-role="button",style="font-family: mill;") Bank
a(href="/portfolio",data-role="button",style="font-family: mill;") Portfolio
a(href="/buy", data-role="button", data-ajax="false", data-ajax="false", style="font-family: mill;") Buy

