a(href="/bank", data-role="button", data-ajax="false", style="font-family: mill;") 
    span(class="#{bank_notice}")&nbsp;&#9733;&nbsp;
    span Bank
a(href="/portfolio", data-role="button", data-ajax="false", style="font-family: mill;") Portfolio
a(href="/buy", data-role="button", data-ajax="false", data-ajax="false", style="font-family: mill;") Buy
a(href="/buy", data-role="button", data-ajax="false", data-ajax="false", style="font-family: mill;") Notifications

