!!! 5
html(lang="en")
	head
			title My Site
	body
		div(style="position:relative")
				div(style="position:absolute;top:0px; left: 0px; width: 100%;")
						div(align="center")
								img(src="/images/phone_template.jpg")
				div(align="center", style="z-index:99; position:relative; left: -2px; top: 115px;")
						iframe(src="/index?b=1", style="margin:auto; height: 480px; width: 316px;", frameborder="0", scrolling="yes", marginwidth="0", marginheight="0")
