!!! 5
html(lang="en")
	head
			title My Site
			<meta name="viewport" content="width=device-width, initial-scale=1">
			script(src='http://code.jquery.com/jquery-1.6.1.min.js')
			script(src='http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js')
			link(rel='stylesheet', href='http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css')
			link(rel='stylesheet', href='/stylesheets/style.css')
	body
	div(data-role = "page", data-theme="a")
			div(data-role="content")
				center
						img(src="/images/fourmillionaire3.png")
				center
						div(class="why_box",data-role="content", data-theme="b")
							div(class="why") &#9830;&nbsp;Use your friends Mayorships for you own personal gain!
							div(class="why") &#9830;&nbsp;Show your friends you are richer than them!
							div(class="why") &#9830;&nbsp;Play any time, anywhere!
							center
									a(href="/login",data-role="button",data-theme="b", data-inline="true", class="login_button", rel="external")
										span(class="login_btn_text", style="font-family: mill;") Start!
