!!! 5
html(lang="en")
	head
		link(rel="SHORTCUT ICON", href="/images/favicon.ico", type="image/x-icon")
		link(rel="icon", href="/images/favicon.ico", type="image/x-icon")
		link(rel="apple-touch-icon", href="/images/favicon.ico")
		link(rel="apple-touch-icon", href="/images/favicon.ico")
		link(rel="apple-touch-icon-precomposed", sizes="114x114", href="/images/fm_ico_114x114.png")
		title $4M
	body
		div(style="position:relative")
				div(style="position:absolute;top:0px; left: 0px; width: 100%;")
						div(align="center")
								img(src="/images/phone_template.jpg")
				div(align="center", style="z-index:99; position:relative; left: -2px; top: 115px;")
						iframe(src="/#{loc}", style="margin:auto; height: 480px; width: 316px;", frameborder="0", scrolling="yes", marginwidth="0", marginheight="0")
		div(align="center", style="margin: 210px 0 0 -12px; color: #aaa") Best played on a phone
