   p I 'm first in the source order so I'm shown as the page.
      center
         div
            a(href="/login",data-role="button",data-theme="b",data-icon="star", data-inline="true", style="width: 200px;", rel="external")
               span Start
         div
            a(href="index.html",data-role="button",data-icon="star", data-inline="true")
               span Info
   p View internal page called
         a(href = "#bar") #{user_id} #{title}

