!!! 5
html(lang="en")
	head
			title My Site
			<meta name="viewport" content="width=device-width, initial-scale=1">
			script(src='http://code.jquery.com/jquery-1.6.1.min.js')
			script(src='http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js')
			- var js = (typeof javascripts === 'undefined') ? [] : javascripts;
			- if (js) {
				- js.forEach(function(jsFile) {
						script(src="#{jsFile}");
				- });
			- }
			link(rel='stylesheet', href='http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css')
			link(rel='stylesheet', href='/stylesheets/style.css')
	body
	div(id="layout_page", data-role = "page", data-theme="a")
			div(data-role = "header")
						center
							div(class="header_box")
									div(class="sub_head")
										div(style="font-family: mill;", class="title") Fourmillionaire
			- var u = user;
			- if (u)
			center
				div(class="info")
						span(class="info1")
								img(src="#{user.photo_url}", style="width:32px;height:32px; margin: 5px;")
						span(class="divider")&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						span(class="info2") Balance:&nbsp;
						span(class="green")$#{user.bank_balance}

			div(data-role = "content")
				body!= body
			div(data-role = "navbar", data-position="fixed")
				ul
						li
							a(href="/home",data-role="button", data-ajax="false", style="font-family: mill;", class="navbar_bottom")
									img(src="/images/house.png")
									div Home
						li
							a(href="/bank",data-role="button", data-ajax="false", style="font-family: mill;", class="navbar_bottom",  onclick="$.mobile.pageLoading()")
									img(src="/images/briefcase.png")
									div Bank
						li
							a(href="/buy",data-role="button", data-ajax="false", style="font-family: mill;", class="navbar_bottom", data-ajax="false")
									img(src="/images/piggy.png")
									div Buy
						li
							a(href="/friends",data-role="button", data-ajax="false", style="font-family: mill;", class="navbar_bottom")
									img(src="/images/world.png")
									div Friends

