!!! 5
html(lang="en")
   head
      title My Site
      <meta name="viewport" content="width=device-width, initial-scale=1"> 
      script(src='http://code.jquery.com/jquery-1.6.1.min.js')
      script(src='http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js')
      link(rel='stylesheet', href='http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
   div(data-role = "page", data-theme="a")
      div(data-role = "header")
            center
               div(class="header_box")
                  div(class="sub_head")
                     div(style="font-family: mill;", class="title") Fourmillionaire
      div(data-role = "content")
         body!= body
      div(data-role = "navbar", data-position="fixed")
         ul
            li
               a(href="/home",data-role="button", style="font-family: mill;", class="navbar_bottom") 
                  img(src="/images/house.png")
                  div Home
            li
               a(href="/bank",data-role="button", style="font-family: mill;", class="navbar_bottom") 
                  img(src="/images/briefcase.png")
                  div Bank
            li
               a(href="/buy",data-role="button", style="font-family: mill;", class="navbar_bottom", data-ajax="false") 
                  img(src="/images/piggy.png")
                  div Buy
            li
               a(href="/friends",data-role="button", style="font-family: mill;", class="navbar_bottom") 
                  img(src="/images/world.png")
                  div Friends

