!!! 5
html(lang="en")
	head
			<meta name="viewport" content="width=device-width, initial-scale=1">
			link(rel="SHORTCUT ICON", href="/images/favicon.ico", type="image/x-icon")
			link(rel="icon", href="/images/favicon.ico", type="image/x-icon")
			link(rel="apple-touch-icon", href="/images/favicon.ico")
			link(rel="apple-touch-icon", href="/images/favicon.ico")
			link(rel="apple-touch-icon-precomposed", sizes="114x114", href="/images/fm_ico_114x114.png")
			script(src='http://code.jquery.com/jquery-1.6.1.min.js')
			script(src='http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js')
			- var js = (typeof javascripts === 'undefined') ? [] : javascripts;
			- if (js) {
				- js.forEach(function(jsFile) {
						script(src="#{jsFile}");
				- });
			- }
			link(rel='stylesheet', href='http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css')
			link(rel='stylesheet', href='/stylesheets/style.css')
	body
		body!= body