ul(data-role="listview")
	- venues.forEach(function(venue){
	li
		div(style="overflow:hidden; width:500px;")
				div(class="fs_icon_holder_sm")
					img(src="#{venue.venue.categories[0].icon}", class="dropshadow_white")
				div(style="display:inline-block;padding: 0 0 0 10px; position: relative; vertical-align: middle; line-height: 30px")
						div
								span(style="font-family: mill") #{venue.venue.name}
										br
								span(class="portfolio_badge rounded") +$#{venue.value / 10}
								- var multipliers = venue.multipliers || [];
								- multipliers.forEach(function(mult){
								span(style="padding-left: 10px")
										img(src='#{mult.photo + "_32x32.png"}', class="small_photo")
								- })
		- })
