ul(data-role="listview")
   - venues.forEach(function(venue){
   li(data-iconsize="44")
      a(href="/venue/#{venue.venue.id}")
         div(class="")
            div(class="fs_icon_holder_sm")
               img(src="#{venue.venue.categories[0].icon}", class="dropshadow_white")
            div(style="display:inline-block;font-family: mill;padding-left: 10px") #{venue.venue.name}
            span(class="portfolio_badge rounded", style="display:inline;") +$#{venue.value / 10}
   - })
